.board{
    min-width: 290px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.board-top{
    display: flex;
    background-color: white;
    box-sizing: border-box;
    padding: 1rem;
}


.board-top-more{
    position: relative;
    cursor: pointer;
}

.board-dropdown p {
    cursor: pointer;
}

.board-dropdown{
    background-color: white;
    width: 130px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
}

.board-top-title{
    flex:1;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
    font-size: 1.5rem;

}

/* .board-top-title span{
    color: gray;
} */

.board-cards{
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 10px;
    overflow-y: auto;
}

.board-card-add{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);
}

.board-card-add:hover{
    box-shadow: 1px 2px 0 1px #ccc;
}