.custom-scroll::-webkit-scrollbar{
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb{
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover{
    background-color: #ccc;
}

.App{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app-navbar{
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
}

.app-outer{
    flex: 1;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
}

.app-boards{
    padding: 20px;
    padding-bottom: 0;
    height: 100%;
    min-width: fit-content;
    display: flex;
    gap: 30px;
}

.app-boards-board{
    width: 290px;
    min-width: 290px;
}

.app-boards-board-add{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);
}

.app-boards-board-add:hover{
    box-shadow: 1px 2px 0 1px #ccc;
}